<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.filesystemserver.mapper.ChannelsMapper">

    <resultMap type="com.gsxy.filesystemserver.domain.Channels" id="ChannelsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="channels">
        id, name, start_time, end_time, create_by, create_time, del_flag, status
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="ChannelsMap">
        select
          id, name, start_time, end_time, create_by, create_time, del_flag, status
        from channels
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ChannelsMap">
        select
          id, name, start_time, end_time, create_by, create_time, del_flag, status
        from channels
        <where>
            <if test="channels.id != null">
                and id = #{channels.id}
            </if>
            <if test="channels.name != null and channels.name != ''">
                and name = #{channels.name}
            </if>
            <if test="channels.startTime != null">
                and start_time = #{channels.startTime}
            </if>
            <if test="channels.endTime != null">
                and end_time = #{channels.endTime}
            </if>
            <if test="channels.createBy != null">
                and create_by = #{channels.createBy}
            </if>
            <if test="channels.createTime != null">
                and create_time = #{channels.createTime}
            </if>
            <if test="channels.delFlag != null">
                and del_flag = #{channels.delFlag}
            </if>
            <if test="channels.status != null">
                and status = #{channels.status}
            </if>
        </where>
        limit #{start}, #{size}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from channels
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="queryByPage" resultMap="ChannelsMap">
        SELECT
        <include refid="channels"/>
        FROM
        channels
        <where>
            <if test="params.name != null and params.name != ''">
                name LIKE CONCAT('%', #{params.name}, '%')
            </if>
            <if test="params.startTime != null">
                AND start_time &gt;= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND end_time &lt;= #{params.endTime}
            </if>
            <if test="params.delFlag != null">
                AND del_flag = #{params.delFlag}
            </if>
            <if test="params.status != null">
                AND status = #{params.status}
            </if>
            <if test="parmas.createBy != null">
                and create_by = #{parmas.createBy}
            </if>
        </where>
        limit
        #{start},#{size}
    </select>

    <!-- 查询总条数 -->
    <select id="countCarousel" resultType="java.lang.Long">
        select
            count(*)
        from
            channels
        <where>
            <if test="params.name != null and params.name != ''">
                name LIKE CONCAT('%', #{params.name}, '%')
            </if>
            <if test="params.startTime != null">
                AND start_time &gt;= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND end_time &lt;= #{params.endTime}
            </if>
            <if test="params.delFlag != null">
                AND del_flag = #{params.delFlag}
            </if>
            <if test="params.status != null">
                AND status = #{params.status}
            </if>
            <if test="params.createBy != null">
                and create_by = #{params.createBy}
            </if>
        </where>
    </select>

    <!-- 权限 -->
    <select id="selectRole" resultType="java.lang.Integer">
        select
            role
        from
            user
        where
            id = #{userId}
            limit 1
    </select>

    <!-- 分页查询（role） -->
    <select id="queryByPageToRole" resultType="com.gsxy.filesystemserver.domain.Channels">
        SELECT
        <include refid="channels"/>
        FROM
        channels
        <where>
            <if test="params.name != null and params.name != ''">
                name LIKE CONCAT('%', #{params.name}, '%')
            </if>
            <if test="params.startTime != null">
                AND start_time &gt;= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND end_time &lt;= #{params.endTime}
            </if>
            <if test="params.delFlag != null">
                AND del_flag = #{params.delFlag}
            </if>
            <if test="params.status != null">
                AND status = #{params.status}
            </if>
            <if test="params.createBy != null">
                and create_by = #{params.createBy}
            </if>
        </where>
        limit
        #{start},#{size}
    </select>

    <!-- 根据channle_id查询file数据并返回 -->
    <select id="queryFileById" resultType="com.gsxy.filesystemserver.domain.FileUploads">
        select
            f.*
        from
            file_uploads f
        inner join
            channels c
        inner join
            channel_files cf
        on
            c.id = #{id}
        and
            c.id = cf.channel_id
        and
            cf.file_id = f.id
        limit 1
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into channels(name, start_time, end_time, create_by, create_time, del_flag, status)
        values (#{name}, #{startTime}, #{endTime}, #{createBy}, #{createTime}, #{delFlag}, #{status})
    </insert>

    <!--新增所有列-->


    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into channels(name, start_time, end_time, create_by, create_time, del_flag, status)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.startTime}, #{entity.endTime}, #{entity.createBy}, #{entity.createTime}, #{entity.delFlag}, #{entity.status})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into channels(name, start_time, end_time, create_by, create_time, del_flag, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.startTime}, #{entity.endTime}, #{entity.createBy}, #{entity.createTime}, #{entity.delFlag}, #{entity.status})
        </foreach>
        on duplicate key update
        name = values(name),
        start_time = values(start_time),
        end_time = values(end_time),
        create_by = values(create_by),
        create_time = values(create_time),
        del_flag = values(del_flag),
        status = values(status)
    </insert>

    <!-- 记录删除操作日志 -->
    <insert id="insertIntoDelteLog">
        insert into
            delete_log
            (delete_by,delete_time,table_name)
        values
            (#{deleteBy},#{deleteTime},#{tableName})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update channels
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from channels where id = #{id}
    </delete>

</mapper>

